/* Color Variables */

$peach: #E7816B;
$black: #1D1C1E;
$white: #FFFFFF;

$light-peach: #FFAD9B;
$dark-grey: #333136;
$light-grey: #F1F3F5;


/* Fonts */

$ff-primary: 'Jost', sans-serif;

/* Media query breakpoints */

$breakpoints: (
  sm: 375px,
  md: 768px,
  lg: 1068px,
);
