@use './index' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

html:focus-within {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	min-height: 100vh;
	background-color: #ffffff;
    	font-family: $ff-primary;
	font-style: normal;
	@include Body;
}

main {
	min-height: 100vh;
	padding: 64px 80px 0 80px;
	display: flex;
	flex-direction: column;
	gap: 160px;
}

ul,
ol {
	list-style: none;
}

button,
input,
fieldset {
	outline: unset;
	border: unset;
}

button {
	cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
