@use './index' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

html:focus-within {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	min-height: 100vh;
	background-color: #ffffff;
    font-family: $ff-primary;
	font-style: normal;
	@include Body;
}

main {
	min-height: 100vh;
	padding: 64px 80px 0 80px;
	display: flex;
	flex-direction: column;
	gap: 160px;
}

.main--home-page, .main--about-page {
	position: relative;


	&::before {
        content: '';
        position: absolute;
		top: 384px;
		left: 0;
		width: calc(100vw - 434px);
        height: 594px;
	    background: url('/images/shared/bg-pattern-leaf.svg') no-repeat;
        background-size: contain;
        background-position: left;
		z-index: -1;

    }

	&::after {
        content: '';
        position: absolute;
		transform: rotate(180deg);
		bottom: -302px;
		right: 0;
		width: calc(100vw - 434px);
        height: 594px;
	    background: url('/images/shared/bg-pattern-leaf.svg') no-repeat;
        background-size: contain;
        background-position: left;
		z-index: -1;
    }
}

ul,
ol {
	list-style: none;
}

button,
input,
fieldset {
	outline: unset;
	border: unset;
}

button {
	cursor: pointer;
	width: 152px;
	height: 56px;
	border-radius: 8px;
	font-weight: 500;
	display: grid;
	place-items: center;
}

a {
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 2px;
	text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
